.App {
  text-align: center;
  font-weight: lighter;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.seats_layout{
  display: grid;
  grid-template-columns: repeat(7, auto);
  width: min-content;
  margin: 0rem 2rem;
  /*width: 14rem;*/
  /*margin: auto;*/
}

.seat{
  padding: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  border-radius: 0.4rem;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);;
  box-shadow:   5px 5px 11px #bebebe,
  -5px -5px 11px #ffffff;
  color: #282c34;
  font-weight: lighter;
}

.booked{
  background: linear-gradient(145deg, #24f975, #1fd262);
  box-shadow: 5px 5px 11px #bebebe,
  -5px -5px 11px #ffffff;
  color: #226622;
}

.seat_loading{
  padding: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  outline: 0.1rem #282c34 dashed;
  box-shadow:   5px 5px 11px #bebebe,
  -5px -5px 11px #ffffff;
  color: #282c34;
  font-weight: lighter;
}

.path{
  margin-right: 1.6rem;
}

.booked_now{
  background: linear-gradient(145deg, #f9f024, #d2ca1f);
  box-shadow:  5px 5px 11px #bebebe,
  -5px -5px 11px #ffffff;
  color: #282c34;
}

select{
  border: none;
  outline: none;
  scroll-behavior: smooth;
  border-radius: 0.5rem;
  background: #e0e0e0;
  box-shadow: inset 5px 5px 9px #bebebe,
  inset -5px -5px 9px #ffffff;
  padding: 0.5rem 1rem;
  -webkit-appearance: none;
  appearance: none;
}

.sqe_button{
  border: none;
  outline: none;
  border-radius: 32px;
  background: #e0e0e0;
  box-shadow:  5px 5px 11px #bebebe,
  -5px -5px 11px #ffffff;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: padding .3s ease-out, border-radius 0.3s ease-out;
}

.button_expand{
  padding: 0.7rem 2rem;
  border-radius: 8px;
}

select option{
  margin: 40px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
